/* base
--------------------------------------------------- */
body {
  font-size: 0.875rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1b2d55;
  letter-spacing: 0.05em;
  line-height: 1.7142857143;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* header */
.header {
  padding: 4.2857142857em 0;
}
.header__inner {
  width: 86.4%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* nav */
.nav {
  display: none;
}
@media screen and (min-width: 960px) {
  .nav {
    display: block;
    flex: 1;
  }
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 2.1428571429em;
}
.nav__about {
  margin-left: auto;
}

/* menu */
.menu {
  display: block;
}
@media screen and (min-width: 960px) {
  .menu {
    display: none;
  }
}

/* footer */
.footer {
  padding: 8.5714285714em 0 14.2857142857em;
  background-color: #e8edf1;
}
.footer__inner {
  width: 86.4%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 740px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footer__copy {
  display: block;
  text-align: center;
  font-weight: bold;
}

/* post */
.post {
  margin-top: 5.7142857143em;
  padding-bottom: 5.7142857143em;
  border-bottom: 1px solid #1b2d55;
}
@media screen and (min-width: 740px) {
  .post {
    margin-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
.post__pic {
  margin-bottom: 2.8571428571em;
}
.post__title {
  text-align: left;
  margin-bottom: 1.1111111111em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2222222222;
}
.post__text {
  margin-bottom: 4.2857142857em;
  text-align: left;
}

.post:last-child {
  border-bottom: none;
}

.unit {
  margin-bottom: 8.5714285714em;
}
@media screen and (min-width: 740px) {
  .unit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.unit__title {
  margin-bottom: 1.1111111111em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2222222222;
}
@media screen and (min-width: 740px) {
  .unit__content {
    width: 43.8596491228%;
  }
}
.unit__tags::before {
  content: "";
  display: block;
  width: 60px;
  margin-top: 2.8571428571em;
  padding-bottom: 4.2857142857em;
  border-top: 1px solid #1b2d55;
}
.unit__item {
  display: inline-block;
  margin-right: 1.6666666667em;
  margin-bottom: 1.6666666667em;
  padding: 1.25em 2.5em;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 20px;
}
.unit__pic {
  margin-top: 4.2857142857em;
}
@media screen and (min-width: 740px) {
  .unit__pic {
    width: 50.8771929825%;
  }
}

.btn {
  display: block;
  width: 197px;
  padding: 1.4285714286em;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #1b2d55;
  font-weight: bold;
}

/* index.html
---------------------------------------- */
/* visual */
.visual {
  margin-bottom: 8.5714285714em;
  padding-bottom: 4.2857142857em;
  background-color: #def6ff;
}
.visual__inner {
  padding: 10.7142857143em 0 35.7142857143em;
  width: 86.4%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/img_about.png) no-repeat center bottom;
}
@media screen and (min-width: 740px) {
  .visual__inner {
    padding: 8.4285714286em 0 7.8571428571em;
    background-position: right;
  }
}
.visual__header {
  max-width: 640px;
  margin-bottom: 2.8571428571em;
}
.visual__title {
  margin-bottom: 1.6666666667em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
}
.visual__title::before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5208333333em;
  border-radius: 50%;
  background-color: #fff5de;
}
.visual__title::before {
  content: none;
}
.visual__list {
  display: flex;
}
.visual__item {
  margin-right: 1.4285714286em;
}

/* advantages */
.advantages {
  margin-bottom: 8.5714285714em;
  text-align: center;
}
.advantages__inner {
  width: 86.4%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.advantages__title {
  margin-bottom: 1.6666666667em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
}
.advantages__title::before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5208333333em;
  border-radius: 50%;
  background-color: #fff5de;
}
@media screen and (min-width: 740px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 740px) {
  .advantages__item {
    width: 47.3684210526%;
  }
}

/* features */
.features {
  padding: 8.5714285714em 0;
  background-color: #fff5de;
}
.features__inner {
  width: 86.4%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.features__title {
  text-align: center;
  margin-bottom: 1.6666666667em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
}
.features__title::before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5208333333em;
  border-radius: 50%;
  background-color: #fff5de;
}
.features__title::before {
  background-color: #def6ff;
}
.features__list {
  margin-bottom: -8.5714285714em;
}
.features__item:nth-child(even) {
  flex-direction: row-reverse;
}

.contact {
  max-width: 385px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4.2857142857em;
}
@media screen and (min-width: 740px) {
  .contact {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.contact__title {
  margin-bottom: 1.1111111111em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2222222222;
  text-align: center;
}
@media screen and (min-width: 740px) {
  .contact__title {
    text-align: left;
  }
}
.contact__item {
  display: flex;
  margin-bottom: 1.0714285714em;
}
.contact__term {
  width: 100px;
  text-align: left;
}
.contact__desc {
  flex: 1;
}
/*# sourceMappingURL=style.css.map */